In [ ]:
!pip install pandas pyspark sqlalchemy openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lower, trim, regexp_replace, to_date, month

In [ ]:
# Task 1: Data Extraction
# Load dataset from Google Sheets as CSV
sheet_url = "https://docs.google.com/spreadsheets/d/1B2fF-9GKOk3HBb6I40kNnfbaNOaTeDJjhht-iDSz9r0/export?format=csv"
df = pd.read_csv(sheet_url)

In [ ]:
# Convert Pandas DataFrame to Spark DataFrame
spark = SparkSession.builder.appName("AmazonReviewETL").getOrCreate()
df_spark = spark.createDataFrame(df)

In [ ]:
# Task 2: Data Cleaning
df_spark = df_spark.dropDuplicates()

In [ ]:
# Handle missing values
df_spark = df_spark.na.drop(subset=["review_id", "product_id", "review_body", "star_rating"])
df_spark = df_spark.fillna({"helpful_votes": 0, "total_votes": 0})

In [ ]:
# Convert data types
df_spark = df_spark.withColumn("star_rating", col("star_rating").cast("int"))
df_spark = df_spark.withColumn("review_date", to_date(col("review_date"), "yyyy-MM-dd"))

In [ ]:
# Standardize fields
df_spark = df_spark.withColumn("product_category", lower(trim(col("product_category"))))

In [ ]:
# Task 3: Data Transformation
# Normalize text fields
df_spark = df_spark.withColumn("review_body", regexp_replace(lower(col("review_body")), "[^a-zA-Z0-9 ]", ""))
df_spark = df_spark.withColumn("review_headline", regexp_replace(lower(col("review_headline")), "[^a-zA-Z0-9 ]", ""))

In [ ]:
df_spark.show(5)

+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+
|review_date|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes| vine|verified_purchase|     review_headline|         review_body|
+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+
| 1995-08-07|         US|   53096398| R61VUUBXYT6EL|042510107X|   3.4724671E7|    Red Storm Rising|           books|          5|            0|          1|false|            false|the single best m...|red storm rising ...|
| 1995-09-29|         US|   53094816| RT94SPZ5CHLK6| 133627659|  3.20981057E8|Criminal Justice ...|           books|          5|            6|          7|false|            false|excellent intro t...|this book is used...|
| 1995-06-24|         US|   53096571|R34N4QWDXX58WB| 870210092|        4.43E8|Arming and Fittin...|           books|          4|           12|         13|false|            false|good enough to un...|nice diags lucid ...|
| 1995-08-09|         US|   53052813|R2VRNK6WSQQA5O| 881790338|  3.62312407E8|The Elements of T...|           books|          5|            0|          1|false|            false|      very good book|pleasent to view ...|
| 1995-07-24|         US|   53096358|R12Q0WB95GUCTI| 394757688|  8.49452523E8|    The Long Goodbye|           books|          5|            0|          0|false|            false|this book is fabu...|this was the firs...|
+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Extract additional features
df_spark = df_spark.withColumn("review_month", month(col("review_date")))

In [ ]:
# Show cleaned and transformed data
df_spark.show(5)

+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+------------+
|review_date|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes| vine|verified_purchase|     review_headline|         review_body|review_month|
+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+------------+
| 1995-08-07|         US|   53096398| R61VUUBXYT6EL|042510107X|   3.4724671E7|    Red Storm Rising|           books|          5|            0|          1|false|            false|the single best m...|red storm rising ...|           8|
| 1995-09-29|         US|   53094816| RT94SPZ5CHLK6| 133627659|  3.20981057E8|Criminal Justice ...|           books|          5|            6|          7|false|            false|excellent intro t...|this book is used...|           9|
| 1995-06-24|         US|   53096571|R34N4QWDXX58WB| 870210092|        4.43E8|Arming and Fittin...|           books|          4|           12|         13|false|            false|good enough to un...|nice diags lucid ...|           6|
| 1995-08-09|         US|   53052813|R2VRNK6WSQQA5O| 881790338|  3.62312407E8|The Elements of T...|           books|          5|            0|          1|false|            false|      very good book|pleasent to view ...|           8|
| 1995-07-24|         US|   53096358|R12Q0WB95GUCTI| 394757688|  8.49452523E8|    The Long Goodbye|           books|          5|            0|          0|false|            false|this book is fabu...|this was the firs...|           7|
+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+------------+
only showing top 5 rows

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
DB_HOST = "database-1.cjqu44c44elv.eu-north-1.rds.amazonaws.com"
DB_PORT = "3306"
DB_USER = "DineshAlagesan"
DB_PASS = "Dinesh281602"
DB_NAME = "amazon_reviews"

# Create connection to MySQL or PostgreSQL
engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# Load cleaned data
df.to_sql(name="reviews", con=engine, if_exists="replace", index=False)

print("✅ Data successfully loaded into AWS RDS!")

✅ Data successfully loaded into AWS RDS!

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.12/dist-packages (9.4.0)

In [ ]:
import pandas as pd
import mysql.connector

# Google Sheets CSV link
sheet_url = "https://docs.google.com/spreadsheets/d/1B2fF-9GKOk3HBb6I40kNnfbaNOaTeDJjhht-iDSz9r0/export?format=csv"

# Read dataset
df = pd.read_csv(sheet_url)

# MySQL database connection details
DB_HOST = "database-1.cjqu44c44elv.eu-north-1.rds.amazonaws.com"
DB_USER = "DineshAlagesan"
DB_PASS = "Dinesh281602"
DB_NAME = "amazon_reviews"

# Connect to MySQL
conn = mysql.connector.connect(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASS,
    database=DB_NAME
)

cursor = conn.cursor()

# Create table if not exists
cursor.execute("""
CREATE TABLE IF NOT EXISTS reviews (
    id INT AUTO_INCREMENT PRIMARY KEY,
    product_title TEXT,
    star_rating INT,
    review_date DATE,
    review_body TEXT
);
""")

# Insert data into MySQL
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO reviews (product_title, star_rating, review_date, review_body)
        VALUES (%s, %s, %s, %s)
    """, (row["product_title"], row["star_rating"], row["review_date"], row["review_body"]))

conn.commit()
cursor.close()
conn.close()

print("✅ Data loaded successfully into AWS RDS!")

✅ Data loaded successfully into AWS RDS!

In [ ]:
!pip install pymysql sqlalchemy pandas

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# ✅ Database connection details (Replace with actual credentials)
DB_USER = "DineshAlagesan"
DB_PASS = "Dinesh281602"
DB_HOST = "database-1.cjqu44c44elv.eu-north-1.rds.amazonaws.com"
DB_PORT = "3306"
DB_NAME = "amazon_reviews"

# ✅ Create MySQL connection
engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# Define Queries
queries = {
    "Top 10 Products with Most Reviews": """
        SELECT product_title, COUNT(*) AS review_count
        FROM reviews
        GROUP BY product_title
        ORDER BY review_count DESC
        LIMIT 10;
    """,
    "Average Review Ratings Per Month": """
        SELECT product_title, DATE_FORMAT(review_date, '%%Y-%%m') AS review_month,
               AVG(star_rating) AS avg_rating
        FROM reviews
        GROUP BY product_title, review_month
        ORDER BY review_month DESC;
    """,
    "Total Votes Per Product Category": """
        SELECT product_category, SUM(total_votes) AS total_votes
        FROM reviews
        GROUP BY product_category
        ORDER BY total_votes DESC;
    """,
    "Products with 'Awful' in Reviews": """
        SELECT product_title, COUNT(*) AS awful_count
        FROM reviews
        WHERE LOWER(review_body) LIKE '%%awful%%'
           OR LOWER(review_body) LIKE '%%terrible%%'
           OR LOWER(review_body) LIKE '%%bad%%'
           OR LOWER(review_body) LIKE '%%horrible%%'
        GROUP BY product_title
        ORDER BY awful_count DESC
        LIMIT 10;
    """,
    "Products with 'Awesome' in Reviews": """
        SELECT product_title, COUNT(*) AS awesome_count
        FROM reviews
        WHERE LOWER(review_body) LIKE '%%awesome%%'
           OR LOWER(review_body) LIKE '%%fantastic%%'
           OR LOWER(review_body) LIKE '%%excellent%%'
           OR LOWER(review_body) LIKE '%%great%%'
        GROUP BY product_title
        ORDER BY awesome_count DESC
        LIMIT 10;
    """,
    "Most Controversial Reviews": """
        SELECT review_id, product_title, total_votes, helpful_votes,
               IFNULL((helpful_votes / NULLIF(total_votes, 0)) * 100, 0) AS helpful_percentage
        FROM reviews
        WHERE total_votes >= 20  -- Reduced threshold from 50 to 20
        ORDER BY helpful_percentage ASC  -- Sort by least helpful first
        LIMIT 10;
    """,
    "Most Reviewed Product Per Year": """
        SELECT YEAR(review_date) AS review_year, product_title, COUNT(*) AS review_count
        FROM reviews
        GROUP BY review_year, product_title
        ORDER BY review_year DESC, review_count DESC;
    """,
    "Users Who Wrote the Most Reviews": """
        SELECT COALESCE(CAST(customer_id AS CHAR), 'Unknown') AS customer_id, COUNT(*) AS review_count
        FROM reviews
        GROUP BY customer_id
        ORDER BY review_count DESC
        LIMIT 10;
    """
}

# ✅ Run Queries and Display Results
for name, query in queries.items():
    try:
        df = pd.read_sql(query, engine)
        print(f"\n🔹 {name}")
        if df.empty:
            print("⚠ No results found.")
        else:
            print(df)
    except Exception as e:
        print(f"❌ Error in {name}: {e}")

🔹 Top 10 Products with Most Reviews
                                       product_title  review_count
0   Ufo Retrievals: The Recovery of Alien Spacecraft             4
1              Blue Highways: A Journey into America             2
2  Monsters Of The Sea: The History, Natural Hist...             2
3             Essential Client Server Survival Guide             2
4        The Hikers Guide to O'Ahu (A Kolowalu Book)             2
5                               Palimpsest: A Memoir             2
6                                      The Gun Ketch             2
7                            To Live and Die in L.A.             2
8                              The Big Book of Death             2
9               The Celestine Prophecy: An Adventure             2

🔹 Average Review Ratings Per Month
                                         product_title review_month  \
0           The Roaches Have No King (High Risk Books)      1995-11
1                                      The Doors [VHS]      1995-11
2          Pulp Fiction: Music From The Motion Picture      1995-11
3                      The Complete Book of Golf Games      1995-11
4          The Turing Option (Questar Science Fiction)      1995-11
..                                                 ...          ...
145               Robert Louis Stevenson:: A Biography      1995-07
146                              The Empire of Fashion      1995-07
147                                 Sisters and Lovers      1995-07
148  Invention and Evolution:Design in Nature and E...      1995-06
149  Arming and Fitting of English Ships of War, 16...      1995-06

     avg_rating
0           4.0
1           5.0
2           5.0
3           5.0
4           5.0
..          ...
145         5.0
146         5.0
147         5.0
148         5.0
149         4.0

[150 rows x 3 columns]

🔹 Total Votes Per Product Category
  product_category  total_votes
0            Books        899.0
1            Video          2.0
2            Music          1.0
3             None          NaN

🔹 Products with 'Awful' in Reviews
                                       product_title  awful_count
0  Bitter Winds: A Memoir of My Years in China's ...            2
1                         Vamps & Tramps: New Essays            2
2                                          Last Call            2
3                           The Stress of Her Regard            2
4  Amber Diceless Role-Playing: Diceless Role-Pla...            2
5                           Lord Kalvan of Otherwhen            2
6                                 Hero and the Crown            2

🔹 Products with 'Awesome' in Reviews
                                       product_title  awesome_count
0   Ufo Retrievals: The Recovery of Alien Spacecraft              4
1             Essential Client Server Survival Guide              2
2       Pulp Fiction: A Quentin Tarantino Screenplay              2
3       The Battle of the Wilderness, May 5--6, 1864              2
4  The Big Book of Urban Legends: 200 True Storie...              2
5                              The Big Book of Death              2
6        The Hikers Guide to O'Ahu (A Kolowalu Book)              2
7       The Big Book of Conspiracies (Factoid Books)              2
8              Blue Highways: A Journey into America              2
9  Monsters Of The Sea: The History, Natural Hist...              2

🔹 Most Controversial Reviews
        review_id                                      product_title  \
0  R3RRC9ZELZT51B                                 Hero and the Crown
1   RX0RNCQ5XX279  Reading the Old Testament: Method in Biblical ...
2  R2YS7NYUYEWWN0                                     Grey Eminence.
3   RWKK7AZ9DTIW4  The Big Book of Urban Legends: 200 True Storie...
4  R2QYF10JPWP7BN        Ordinary Differential Equations (MIT Press)
5   R2OD2TECAR3RM                     Riprap and Cold Mountain Poems
6  R1DZ6KX3SWKFK2                    Build Your Own Electric Vehicle
7  R3IJ91HHIWFF81                                   These Old Shades
8  R33HOJ2OWJIDQI  The Collector's Guide to Harker Pottery U.S.A....
9  R117GB0UNIVGV9  The Official Harvard Student Agencies Bartendi...

   total_votes  helpful_votes  helpful_percentage
0           33             13             39.3939
1           22             18             81.8182
2           29             26             89.6552
3           20             18             90.0000
4           35             32             91.4286
5           20             19             95.0000
6           47             45             95.7447
7           25             24             96.0000
8           27             27            100.0000
9           33             33            100.0000

🔹 Most Reviewed Product Per Year
     review_year                                      product_title  \
0           1995   Ufo Retrievals: The Recovery of Alien Spacecraft
1           1995  Invention and Evolution:Design in Nature and E...
2           1995  Arming and Fitting of English Ships of War, 16...
3           1995                       Object-Oriented Type Systems
4           1995  The Collector's Guide to Harker Pottery U.S.A....
..           ...                                                ...
145         1995                             The Face of the Waters
146         1995                                 Hero and the Crown
147         1995                                   These Old Shades
148         1995  The Five Books of Moses: The Schocken Bible: V...
149         1995                      En Route to Global Occupation

     review_count
0               4
1               2
2               2
3               2
4               2
..            ...
145             2
146             2
147             2
148             2
149             2

[150 rows x 3 columns]

🔹 Users Who Wrote the Most Reviews
  customer_id  review_count
0     Unknown           151
1    53096008             8
2    52948753             6
3    53004137             3
4    53096149             3
5    53096582             3
6    53096282             2
7    53096585             2
8    53084640             2
9    53095838             2

In [ ]:
from sqlalchemy import create_engine, text
import pymysql

# Database credentials
DB_HOST = "database-1.cjqu44c44elv.eu-north-1.rds.amazonaws.com"
DB_USER = "DineshAlagesan"
DB_PASSWORD = "Dinesh281602"
DB_NAME = "amazon_reviews"

# Create database connection
engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}")
connection = engine.connect()

# Ensure 'review_date' is a DATE column
alter_column_query = """
ALTER TABLE reviews
MODIFY COLUMN review_date DATE;
"""
try:
    connection.execute(text(alter_column_query))
    print("✅ Column 'review_date' converted to DATE type successfully.")
except Exception as e:
    print(f"⚠ Error modifying column: {e}")

# Index creation with existence check
index_queries = [
    ("idx_product_title", "product_title(255)"),
    ("idx_review_date", "review_date")
]

for index_name, column in index_queries:
    # Check if index already exists
    check_index_query = f"""
    SELECT COUNT(1)
    FROM information_schema.statistics
    WHERE table_schema = DATABASE()
      AND table_name = 'reviews'
      AND index_name = '{index_name}';
    """
    index_exists = connection.execute(text(check_index_query)).scalar()

    if index_exists:
        print(f"ℹ Index '{index_name}' already exists. Skipping creation.")
    else:
        create_query = f"CREATE INDEX {index_name} ON reviews ({column});"
        try:
            connection.execute(text(create_query))
            print(f"✅ Index '{index_name}' created successfully.")
        except Exception as e:
            print(f"⚠ Error creating index '{index_name}': {e}")

# Check if table is already partitioned
check_partition_query = """
SELECT COUNT(*)
FROM information_schema.partitions
WHERE table_schema = DATABASE() AND table_name = 'reviews';
"""
partition_count = connection.execute(text(check_partition_query)).scalar()

if partition_count > 1:  # Already partitioned
    print("✅ Table 'reviews' is already partitioned. Skipping partitioning.")
else:
    partition_query = """
    ALTER TABLE reviews
    PARTITION BY RANGE( YEAR(review_date) ) (
        PARTITION p_before_2000 VALUES LESS THAN (2000),
        PARTITION p_2000_2010 VALUES LESS THAN (2010),
        PARTITION p_2010_2020 VALUES LESS THAN (2020),
        PARTITION p_2020_present VALUES LESS THAN MAXVALUE
    );
    """
    try:
        connection.execute(text(partition_query))
        print("✅ Partitioning applied successfully.")
    except Exception as e:
        print(f"⚠ Error applying partitioning: {e}")

# Close connection
connection.close()
print("✅ Index creation and partitioning process completed.")

✅ Column 'review_date' converted to DATE type successfully.
✅ Index 'idx_product_title' created successfully.
✅ Index 'idx_review_date' created successfully.
✅ Partitioning applied successfully.
✅ Index creation and partitioning process completed.